{{ define "main" }}
<main class="container" role="main">
    <h1 class="is-size-1 mb-5 has-text-weight-light">{{ .Title }}</h1>

    <div class='has-text-centered'>
        <h2 class="is-size-3">
            {{ i18n "available-for" }}
        </h2>
    </div>

    <div class="is-flex is-flex-direction-row is-justify-content-space-around mt-4">
        <div class="card basis-0 grow-1 ml-2 mr-2">
            <h3 class="is-size-4">
                {{ i18n "using-amd64" }}
            </h3>
            <div class="has-text-centered mt-4"><a href="" class="button is-primary">{{ i18n "download-for-amd64" }}</a></div>
        </div>
        <div class="card basis-0 grow-1 ml-2 mr-2">
            <h3 class="is-size-4">
                {{ i18n "using-arm" }}
            </h3>
            <div class="has-text-centered mt-4"><a href="" class="button is-primary">{{ i18n "download-for-arm" }}</a></div>
        </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="is-flex is-flex-direction-row is-justify-content-space-around mt-6">
        <div class="basis-0 grow-1 ml-2 mr-2">
            <h3 class="is-size-4">
                {{ i18n "fedora-media-writer" }}
            </h3>
            <p class="mt-2">
                {{ i18n "fmw-blurb" }}
            </p>
            <div class="card is-flex is-flex-direction-row is-align-content-center is-align-items-center">
                <p class="mb-0">
                    {{ i18n "download-for" }}
                </p>
                <div class="grow-1"></div>
                <a href="" class="button ml-2">{{ i18n "win" }}</a>
                <a href="" class="button ml-2">{{ i18n "mac" }}</a>
                <a href="" class="button ml-2">{{ i18n "linux" }}</a>
            </div>
        </div>
        <div class="basis-0 grow-1 ml-2 mr-2" style="background: red;">

        </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="has-text-centered mt-6">
        <h4 class="is-size-6">
            {{ i18n "legalese-header" }}
        </h4>
        <p class="is-size-7 mt-2">
            {{ i18n "legalese" }}
        </p>
    </div>

</main>

{{ end }}