{{ define "main" }}
<main class="container" role="main">
    <h1 class="is-size-1 mb-5 has-text-weight-light">{{ .Title }}</h1>

    <div class="has-text-centered ml-5 mr-5">
        <h2 class="is-size-2">
            {{ i18n "beta.warning" }}
        </h2>
        <p class="is-size-4">{{ i18n "beta.warning.description" }}</p>
    </div>

    <hr class="mt-6 mb-6">

    <div class='has-text-centered mb-1'>
        <h2 class="is-size-3">
            {{ i18n "available-for" }}
        </h2>
    </div>

    <div class="columns has-text-centered mt-4">
      <div class="column">
        <div class="column is-mobile">
          <a href="https://download.fedoraproject.org/pub/fedora/linux/releases/test/35_Beta/Kinoite/x86_64/iso/Fedora-Kinoite-ostree-x86_64-35_Beta-1.2.iso" class="button is-primary is-size-4">{{ i18n "download-for-amd64" }}</a>
        </div>
        <div class="column is-mobile">
          <a href="https://download.fedoraproject.org/pub/fedora/linux/releases/test/35_Beta/Kinoite/x86_64/iso/Fedora-Kinoite-35_Beta-1.2-x86_64-CHECKSUM" class="button is-secondary is-size-5">{{ i18n "verify" }}</a>
        </div>
      </div>
      <div class="column">
        <div class="column is-mobile">
          <a href="https://download.fedoraproject.org/pub/fedora/linux/releases/test/35_Beta/Kinoite/aarch64/iso/Fedora-Kinoite-ostree-aarch64-35_Beta-1.2.iso" class="button is-primary is-size-4">{{ i18n "download-for-aarch64" }}</a>
        </div>
        <div class="column is-mobile">
          <a href="https://download.fedoraproject.org/pub/fedora/linux/releases/test/35_Beta/Kinoite/aarch64/iso/Fedora-Kinoite-35_Beta-1.2-aarch64-CHECKSUM" class="button is-secondary is-size-5">{{ i18n "verify" }}</a>
        </div>
      </div>
      <div class="column">
        <div class="column is-mobile">
          <a href="" class="button is-primary is-size-4" disabled>{{ i18n "beta.download-for-ppc64le" }}</a>
        </div>
        <div class="column is-mobile">
          <a href="" class="button is-secondary is-size-5" disabled>{{ i18n "verify" }}</a>
        </div>
      </div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-space-around mt-4">
        <div class="grow-1 ml-2 mr-2 has-text-centered mt-4">
        </div>
    </div>

    <div class='has-text-centered mt-1'>
      <p class="is-size-4">
      {{ i18n "learn.not-sure" }}
      <a href="{{ i18n "learn.iso-uirl" }}">{{ i18n "learn.here" }}</a>
      </p>
      <p class="is-size-5">
      {{ i18n "learn.security" }}
      <a href="https://getfedora.org/security/">{{ i18n "learn.verify" }}</a>
      </p>
    </div>

    <hr class="mt-6 mb-6">

    <div class="columns m-2">
      <div class="column m-4">
        <h3 class="is-size-4">
          {{ i18n "fedora-media-writer" }}
        </h3>
        <p class="mt-2">
          {{ i18n "fedora-media-writer.description" }}
        </p>
        <div class="card is-flex is-flex-direction-row is-align-content-center is-align-items-center">
          <p class="mb-0">
            {{ i18n "fedora-media-writer.download" }}
          </p>
          <div class="grow-1"></div>
          <a href="https://getfedora.org/fedora-media-writer/FedoraMediaWriter-win32-latest.exe" class="button ml-2">
            <span class="icon is-small" style="margin: 0px 5px 0px 0px;">
              <i class="fab fa-windows" aria-hidden="true"></i>
            </span>
            {{ i18n "fedora-media-writer.windows" }}
          </a>
          <a href="https://getfedora.org/fedora-media-writer/FedoraMediaWriter-osx-latest.dmg" class="button ml-2">
            <span class="icon is-small" style="margin: 0px 5px 0px 0px;">
              <i class="fab fa-apple" aria-hidden="true"></i>
            </span>
            {{ i18n "fedora-media-writer.macos" }}
          </a>
          <a href="{{ i18n "fedora-media-writer.url" }}" class="button ml-2">
            <span class="icon is-small" style="margin: 0px 5px 0px 0px;">
              <i class="fab fa-linux" aria-hidden="true"></i>
            </span>
            {{ i18n "fedora-media-writer.linux" }}
          </a>
        </div>
      </div>
      <div class="column">
        <div class="ml-6 mr-6">
          <img src="https://getfedora.org/static/images/g-monitor-mediawriter.png">
        </div>
      </div>
    </div>

    <div class="ml-6 mr-6">
      <h3 class="is-size-4">
        {{ i18n "security.seriously" }}
      </h3>
      <p class="mt-2">
        {{ i18n "security.description" }}
        <a href="https://getfedora.org/security/">{{ i18n "security.verify" }}</a>
      </p>
    </div>

    <hr class="mt-6 mb-6">

    <div class="m-2">
        <h4 class="has-text-centered is-size-6">
            {{ i18n "legalese-header" }}
        </h4>
        <p class="is-size-7 mt-2">
            {{ i18n "legalese" }}
        </p>
    </div>

</main>

{{ end }}
