{{ define "main" }}
<main id="home">
  <section class="hero is-fullheight-with-navbar">
    <div class="container px-3 has-text-centered is-flex-center-vertial-childs">
      <h1 class="is-size-1">{{ i18n "title" }}</h1>
      <h1 class="is-size-3">{{ i18n "tagline" }}</h1>
      <h2 class="is-size-5 mt-3 small-container">{{ i18n "description" }}</h2>
      <div class="has-text-centered mt-4"><a href="/download" class="button is-primary">{{ i18n "download" }}</a></div>
    </div>
    <div class="laptop-background">
      <div class="laptop-with-overlay mt-2 mb-3">
        <img class="laptop img-fluid mt-3" src="/img/laptop.svg" alt="empty laptop with an overlay">
        <div class="laptop-overlay">
          <img class="img-fluid mt-3" src="https://kde.org/announcements/plasma/5/5.22.0/plasma-dark.webp" alt="{{ i18n "screenshot.description" }}" loading="lazy" width="1200" height="675">
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <h1 class="has-text-centered is-size-2 mb-5">{{ i18n "built-on" }}</h1>
    <div class="components">
      <a href="https://getfedora.org" class="product product-fedora">
        <h2 class="is-size-2">{{ i18n "fedora" }}</h2>
        <h3 class="has-text-centered">{{ i18n "fedora.description" }}</h3>
      </a>
      <a href="https://kde.org/plasma-desktop" class="product product-plasma">
        <img src="img/plasma_logo.svg" alt="KDE Plasma logo">
        <h2 class="is-size-1">{{ i18n "plasma" }}</h2>
        <h3 class="">{{ i18n "plasma.description" }}</h3>
       </a>
      <a href="https://flathub.org/home" class="product product-applications">
        <div class="description">
          <h2 class="is-size-3">{{ i18n "applications" }}</h2>
          <h3>{{ i18n "rpm-ostree.description" }}</h3>
        </div>
      </a>
      <a href="https://coreos.github.io/rpm-ostree/" class="product product-ostree">
        <div class="description">
          <img src="/img/fcos_logo.svg" alt="Fedora CoreOS logo">
          <h2 class="is-size-3">{{ i18n "rpm-ostree" }}</h2>
          <p class="">{{ i18n "rpm-ostree.description" }}</p>
        </div>
      </a>
      <a href="https://podman.io/" class="product product-podman">
        <div class="description">
          <img src="/img/podman_logo.svg" alt="podman logo">
          <h2 class="is-size-3">{{ i18n "podman" }}</h2>
          <p class="">{{ i18n "podman.description" }}</p>
        </div>
      </a>
    </div>
  </section>

  <section class="small-container">
    <h1 class="has-text-centered is-size-2 mb-5">{{ i18n "related" }}</h1>
    <p class="has-text-centered is-size-5">{{ i18n "related.description" }}</p>
    <div class="components">
      <div class="column has-text-centered">
        <a href="https://silverblue.fedoraproject.org/">
          <img src="/img/silverblue_logo.svg" alt="" height=100>
        </a>
        <p class="">{{ i18n "related.silverblue.description" }}</p>
      </div>
      <div class="column has-text-centered">
        <a href="https://getfedora.org/en/iot/">
          <img src="/img/iot_logo.svg" alt="Fedora IoT logo" height=100>
        </a>
        <p class="">{{ i18n "related.iot.description" }}</p>
      </div>
      <div class="column has-text-centered">
        <a href="https://getfedora.org/en/coreos">
          <img src="/img/coreos_logo.svg" alt="Fedora CoreOS logo" height=100>
        </a>
        <p class="">{{ i18n "related.coreos.description" }}</p>
      </div>
    </div>
  </section>
</main>
{{ end }}
